---
import Layout from "@/layouts/Layout.astro";
import PageBanner from "@/sections/PageBanner.astro";
import JobForm from "@/components/forms/JobForm";
---

<Layout
  seo={{
    title: "Policy and International Development Intern | 100 Million US",
    description:
      "Join the 100 Million US Team with this intern position focused on policy and international development! Apply Today!",
  }}
>
  <PageBanner>Policy and International Development Intern</PageBanner>

  <section class="px-edge py-16 lg:py-36 bg-black relative">
    <div
      class="max-w-screen-2xl mx-auto flex flex-col xl:flex-row justify-between gap-10 2xl:gap-40 relative z-10"
    >
      <div class="order-2 flex-1 lg:min-h-[1080px] lg:min-w-[500px]">
        <div class="bg-white py-5 px-8 lg:py-12 lg:px-16">
          <JobForm job="Policy Intern" client:load />
        </div>
      </div>
      <div class="text-center xl:text-left max-w-2xl mx-auto">
        <h2 class="font-bebas leading-none text-text-light text-[100px]">
          Join Our <span class="text-primary text-[100px]">Team</span>
        </h2>
        <div class="text-white text-lg leading-relaxed space-y-2">
          <div class="space-y-2">
            <p>
              The ideal candidate is someone who is interested in public policy,
              current events, conducting research and is capable of taking notes
              in fast-paced meetings. Using these skills, the candidate must be
              comfortable attending virtual meetings and using ongoing
              discussions to further develop and support the mission of 100
              Million. We are looking for an enthusiastic individual passionate
              about making a difference. By working with a small team, this
              internship provides the opportunity to gain real world,
              professional experience in the international development and
              nonprofit arenas.
            </p>
            <p>
              This is a part-time position and can be completed either remotely
              or hybrid. Hours may vary.
            </p>
            <p>
              This is an unpaid internship that is applicable for college credit
              or volunteer hours.
            </p>

            <p>
              <span class="font-bebas text-2xl tracking-wide"
                >Primary Responsibilities:</span
              > The intern will support our organization by:
            </p>
            <ul class="list-disc text-base">
              {
                [
                  "Researching and summarizing reports on child labor, slavery, trafficking, education, and other related arenas.",
                  "Following Congressional hearings and legislation relevant to youth rights and drafting relevant memos of findings.",
                  "Contributing to the creation of policy briefs.",
                  "Assisting in updating existing resources and creating new resources to be used in schools/on campuses to raise awareness about the global child labor crisis.",
                  "Contributing to the drafting of op-eds and/or blog posts.",
                ].map((text) => <li>{text}</li>)
              }
            </ul>
          </div>

          <p>
            <span class="font-bebas text-2xl tracking-wide"
              >Primary Functions:</span
            > Research, Detailed Writing, Development
          </p>
          <p>
            <span class="font-bebas text-2xl tracking-wide">Requirements:</span>
          </p>
          <ul class="list-disc text-base">
            {
              [
                "Strong verbal and written communication skills",
                "Ability to conduct detail-oriented research ",
                "Capacity to work both in a team and independently with varying degrees of supervision",
              ].map((text) => <li>{text}</li>)
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>
