---
import Layout from "@/layouts/Layout.astro";
import PageBanner from "@/sections/PageBanner.astro";
import JobForm from "@/components/forms/JobForm";
---

<Layout
  seo={{
    title: "Social Media Intern| 100 Million US",
    description:
      "Join the 100 Million US Team with this intern position focused on social media! Apply Today!",
  }}
>
  <PageBanner>Social Media Intern</PageBanner>

  <section class="px-edge py-16 lg:py-36 bg-black relative">
    <div
      class="max-w-screen-2xl mx-auto flex flex-col xl:flex-row justify-between gap-10 2xl:gap-40 relative z-10"
    >
      <div class="order-2 flex-1 lg:min-h-[1080px] lg:min-w-[500px]">
        <div class="bg-white py-5 px-8 lg:py-12 lg:px-16">
          <JobForm job="Social Media Intern" client:load />
        </div>
      </div>
      <div class="text-center xl:text-left max-w-2xl mx-auto">
        <h2 class="font-bebas leading-none text-text-light text-[100px]">
          Join Our <span class="text-primary text-[100px]">Team</span>
        </h2>
        <div class="text-white text-lg leading-relaxed space-y-2">
          <div class="space-y-2">
            <p>
              he ideal candidate is someone who is familiar with social media
              platforms, such as Instagram. Twitter and TikTok. The candidate
              must be comfortable with using softwares like Canva to create
              engaging content in an effort to bring more awareness to the
              organization's various campaigns. By working with a small team,
              this internship provides the opportunity to gain real world,
              professional experience in the international development and
              nonprofit arenas. We are looking for an enthusiastic individual,
              passionate about making a difference.
            </p>
            <p>
              This is a part-time position and can be completed either remotely
              or hybrid. Hours may vary.
            </p>
            <p>
              This is an unpaid internship that is applicable for college credit
              or volunteer hours.
            </p>

            <p>
              <span class="font-bebas text-2xl tracking-wide"
                >Primary Responsibilities:</span
              > The intern will support our organization by:
            </p>
            <ul class="list-disc text-base">
              {
                [
                  "Managing the 100 Million social media accounts and posting relevant content",
                  "Brainstorming campaign and post ideas",
                  "Monitoring various social media platforms such as Instagram and Twitter",
                  "Collaborating with global team to produce international content",
                  "Analyzing analytics to gauge the success of campaigns",
                  "Assisting in creating performance reports",
                  "Organizing participation in various social media campaigns",
                ].map((text) => <li>{text}</li>)
              }
            </ul>
          </div>

          <p>
            <span class="font-bebas text-2xl tracking-wide"
              >Primary Functions:</span
            > Social Media Development, Content Creation, Campaigning
          </p>
          <p>
            <span class="font-bebas text-2xl tracking-wide">Requirements:</span>
          </p>
          <ul class="list-disc text-base">
            {
              [
                "Ability to create engaging content",
                "Experience with apps like Canva for content creation",
                "Capacity to work both in a team and independently with varying degrees of supervision",
              ].map((text) => <li>{text}</li>)
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>
