<div class="bg-primary w-full max-w-[475px]">
  <div class="w-full h-[415px] bg-gray-400"></div>
  <div class="py-11 px-6 text-text-light text-center">
    <p class="font-bebas text-5xl leading-none">Placeholder Name</p>
    <p class="mt-2 text-lg">Placeholder Title</p>
  </div>
</div>
