---
import PrimaryBtn from "@components/buttons/PrimaryBtn";
---

<div class="bg-black w-[477px] h-[790px]">
  <div class="bg-white w-full h-1/2"></div>
  <div class="text-center text-text-light max-w-sm mx-auto">
    <h6 class="font-bebas text-6xl">Placeholder</h6>
    <p class="text-lg">
      This is just placeholder text. Don’t be alarmed, this is just here to fill
      up space since your finalized copy isn’t ready yet.
    </p>
    <PrimaryBtn color="primary">Get Involved</PrimaryBtn>
  </div>
</div>
