---
import PrimaryBtn from "@components/buttons/PrimaryBtn";
import Goals from "@sections/Goals.astro";
import ImageExplanation from "@sections/ImageExplanation.astro";
import Impact from "@sections/Impact.astro";
import PageBanner from "@sections/PageBanner.astro";
import Team from "@sections/Team.astro";
import TheWhy from "@sections/TheWhy.astro";
import Layout from "src/layouts/Layout.astro";

import homeHeroImg from "@img/kailash.jpg";
---

<Layout title="About Us">
  <PageBanner>About</PageBanner>
  <TheWhy />
  <ImageExplanation reversed={true} image={homeHeroImg}>
    <div class="text-center lg:text-left">
      <h2
        class="font-bebas leading-none text-text-light text-7xl md:text-[100px]"
      >
        Who Are <span class="text-primary text-8xl md:text-[130px]">We?</span>
      </h2>

      <div class="mt-4 text-text-light space-y-2 text-lg">
        <p>
          100 Million US is led by a National Campaign Group (NCG), which is
          made up of passionate student activists from across the country,
          ranging from high school-age to masters candidates. The NCG has taken
          on the task of growing the scope and outreach of 100 Million US. They
          want the organization to be a community of support for young people in
          the United States who are passionate about children’s rights and aim
          to engage those young people in the call to action of the global <a
            target="_blank"
            href=""
            class="font-bold text-primary">100 Million campaign</a
          >.​
        </p>
        <p>
          100 Million US engages and builds its base of activists through
          in-person and virtual events and advocacy campaigns that support the
          global work of 100 Million Global and KSCF US.
        </p>
      </div>

      <PrimaryBtn to="/join-us" className="mt-4" color="primary"
        >Get Involved</PrimaryBtn
      >
    </div>
  </ImageExplanation>
  <Impact />
  <Goals />
  <!-- <Team /> -->
</Layout>
