---
import PrimaryBtn from "@components/buttons/PrimaryBtn";
import Layout from "../layouts/Layout.astro";
import Hero from "@sections/Hero.astro";
import ImageExplanation from "@sections/ImageExplanation.astro";
import JoinTheFight from "@sections/JoinTheFight.astro";
import Organizations from "@sections/Organizations.astro";
import LatestArticles from "@sections/LatestArticles.astro";
import FeaturedResources from "@sections/FeaturedResources.astro";
import UpToDate from "@sections/UpToDate.astro";

import currentCampaign from "@img/justice-for-africa.jpg";
---

<Layout
  seo={{
    title: "100 Million US",
    description:
      "Hundred Million US is a youth-led campaign fighting for a world where all young people are free, sage, and educated. We are a nonprofit that supports young people in mobilizing to end violence against children, eradicate child labour, and ensure education, breaking the cycles of illiteracy, poverty and violence for good.",
  }}
>
  <Hero />
  <ImageExplanation image={currentCampaign} bottomBanner={false}>
    <div class="text-center lg:text-left">
      <p class="font-bold text-text-light font-bebas text-2xl tracking-wider">
        Current Focus
      </p>
      <h2
        class="font-bebas leading-none text-text-light text-7xl xl:text-[100px]"
      >
        Justice For <span class="text-primary">Africa's Children</span>
      </h2>

      <div class="mt-4 text-text-light space-y-4 text-lg leading-loose">
        <p>
          Youth activists, student leaders, survivor-advocates and their
          representative organizations across Africa are coming together and
          demanding justice. Amplified by solidarity actions from their peers
          around the world, they are demanding urgent action that delivers
          Justice for Africa. <a
            target="_blank"
            href="https://www.100million.org/justice-for-africa"
            class="underline font-bold text-primary"
            >Learn more about the campaign on a global scale.</a
          >
        </p>
        <p>
          In the US, youth activists engaged in a wide variety of solidarity
          actions on the 20th of February. From coast to coast, students stood
          with signs in front of important buildings in their communities,
          flyered, and chalked.
        </p>
        <p>
          Young people created art pieces, took photos, made videos, and took to
          the streets to show their solidarity. Justice for Africa’s Children is
          just getting started.
        </p>
      </div>
      <a
        href="/join-us"
        class="mt-4 bg-primary inline-block px-16 py-3 rounded-full font-bebas text-2xl text-white cursor-pointer"
        >Get Involved</a
      >
    </div>
  </ImageExplanation>
  <JoinTheFight />

  <!-- <Organizations /> -->
  <LatestArticles />
  <!-- <FeaturedResources /> -->
  <UpToDate />
</Layout>
