---
import PrimaryBtn from "@components/buttons/PrimaryBtn";
import Layout from "../layouts/Layout.astro";
import Hero from "@sections/Hero.astro";
import ImageExplanation from "@sections/ImageExplanation.astro";
import JoinTheFight from "@sections/JoinTheFight.astro";
import Organizations from "@sections/Organizations.astro";
import LatestArticles from "@sections/LatestArticles.astro";
import FeaturedResources from "@sections/FeaturedResources.astro";
import UpToDate from "@sections/UpToDate.astro";
---

<Layout title="Welcome to Astro.">
  <Hero />
  <ImageExplanation>
    <h2 class="font-bebas leading-none text-text-light text-[100px]">
      Current <br /><span class="text-primary text-[130px]">Campaign</span>
    </h2>

    <div class="mt-4 text-text-light space-y-4 text-lg leading-loose">
      <p>
        This is just placeholder text. Don’t be alarmed, this is just here to
        fill up space since your finalized copy isn’t ready yet. Once we have
        your content finalized, we’ll replace this placeholder text with your
        real content.
      </p>
      <p>
        Sometimes it’s nice to put in text just to get an idea of how text will
        fill in a space on your website.
      </p>
      <p>
        Traditionally our industry has used Lorem Ipsum, which is placeholder
        text written in Latin. Unfortunately, not everyone is familiar with
        Lorem Ipsum and that can lead to confusion. I can’t tell you how many
        times clients have asked me why their website is in another language!
      </p>
    </div>

    <PrimaryBtn className="mt-4" color="primary">Get Involved</PrimaryBtn>
  </ImageExplanation>
  <JoinTheFight />
  <Organizations />
  <LatestArticles />
  <FeaturedResources />
  <UpToDate />
</Layout>
