---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import PageBanner from "@sections/PageBanner.astro";
import ImageExplanation from "@sections/ImageExplanation.astro";
import FeaturedResources from "@sections/FeaturedResources.astro";
import LatestArticles from "@sections/LatestArticles.astro";

import individualImg from "@img/individuals-action-plan.jpg";
import IndividualForm from "@components/forms/IndividualForm";
---

<Layout title="Individuals">
  <PageBanner>Individuals</PageBanner>
  <ImageExplanation image={individualImg}>
    <h2 class="font-bebas leading-none text-text-light text-[100px]">
      Your Action <br /><span class="text-primary text-[130px]">Plan</span>
    </h2>

    <div class="mt-4 text-text-light space-y-4 text-lg">
      <div>
        <p class="font-bebas leading-none text-5xl">Step #1: Stay Informed</p>
        <p>
          Stay up to date with our initiatives to create a world where all young
          people are free, safe, and educated.
        </p>
      </div>
      <div>
        <p class="font-bebas leading-none text-5xl">Step #2: Take Action</p>
        <p>
          Fill our our form below to join 100 Million US on our mission. Whether
          you would like to take a leadership role on our team or receive
          updates on our initiatives, we have a way for you to be involved.
        </p>
      </div>
    </div>
  </ImageExplanation>
  <section class="px-edge py-16 lg:py-36 bg-primary relative">
    <div
      class="max-w-screen-2xl mx-auto flex flex-col xl:flex-row justify-between gap-10 2xl:gap-40 relative z-10"
    >
      <div class="order-2 flex-1 lg:min-h-[1080px] lg:min-w-[500px]">
        <div class="bg-white py-5 px-8 lg:py-12 lg:px-16">
          <IndividualForm client:load />
        </div>
      </div>
      <div class="text-center xl:text-left max-w-2xl mx-auto">
        <h2 class="font-bebas leading-none text-text-light text-[100px]">
          Join Our Network <span class="text-black text-[100px]"
            >Across The US</span
          >
        </h2>
        <p class="font-bebas leading-none text-text-light text-5xl">
          Explain Why They Would Want To Join. Fill Out The Form To Be
          Considered.
        </p>
        <ul
          class="mt-4 text-text-light space-y-2 flex flex-col items-center xl:items-stretch"
        >
          <li class="flex space-x-2">
            <Icon name="mdi:check" size={20} /><span>Reason Number One</span>
          </li>
          <li class="flex space-x-2">
            <Icon name="mdi:check" size={20} /><span>Reason Number Two</span>
          </li>
          <li class="flex space-x-2">
            <Icon name="mdi:check" size={20} /><span>Reason Number Three</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <LatestArticles />
  <!-- <FeaturedResources /> -->
</Layout>
