---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  seo={{
    title: "Privacy Policy | 100 Million US",
    description: "Our privacy policy here at 100 Million US",
  }}
>
  <section class="bg-black py-10 px-[2.5%]">
    <div class="mx-auto prose prose-invert">
      <h1>Privacy Policy</h1>
      <p>Last updated: July 13, 2023</p>

      <div>
        <p>
          The 100 Million US campaign is committed to ensuring every child is
          free, safe, and educated. We cannot claim to do that unless we ensure
          we protect the privacy of everyone who visits our website, decides to
          pledge their support, and becomes an active member of the campaign. ​
        </p>
        <p>
          When you take our campaign pledge or take action with us to do all you
          can to ensure every child is free, safe, and educated, you provide us
          with your personal data. We take your commitment to this pledge
          seriously, and we make every effort to ensure the personal information
          you have provided when taking the pledge is protected.
        </p>
        <p>
          Please spend a little time reading through this to make sure you
          understand how the 100 Million US campaign supports your right to
          privacy. If anything is unclear, please get in touch with us and we
          will be happy to answer any questions you have.
        </p>
      </div>

      <div>
        <h2>Who are we?</h2>
        <p>
          We are the 100 Million US campaign, and when it comes to your data we
          are officially called the ‘Data Controller’. In the United States the
          campaign is housed by the Kailash Satyarthi Children’s Foundation of
          America (KSCF-US), which is a registered non-profit organisation in
          the United States.
        </p>
        <p>Our address is: 1527 New Hampshire Avenue NW Washington DC 20036</p>
        <p>
          The person who oversees the data is called the Data Compliance
          Officer, and this person is Shaharazad Abuel-Ealeh, Communications and
          Policy Director for the 100 Million campaign. You can contact her with
          any questions you have about your data: dco@100million.org.
        </p>
      </div>

      <div>
        <h2>What data do we collect?</h2>
        <p>We collect the following types of information</p>
        <ul>
          <li>Your name</li>
          <li>Your email address</li>
          <li>Your year of birth</li>
          <li>The country you live in</li>
          <li>The postal or zip code for where you live</li>
          <li>
            The language in which you would like to receive communications
          </li>
          <li>Your telephone number, if you choose to provide this</li>
        </ul>
        <p>Where relevant or applicable, we also record:</p>
        <ul>
          <li>Your correspondence with us (for example, if you email us)</li>
          <li>
            Your participation with us (for example, if you choose to take
            action through one of our campaign emails)
          </li>
          <li>Photographs or videos you share with us</li>
          <li>
            Any username or password you have created to use some of the tools
            on our website
          </li>
          <li>Any other information you have chosen to share with us.</li>
        </ul>

        <p>We collect the data in the following ways</p>
        <ul>
          <li>
            Information you fill in on the website (including taking the 100
            Million campaign pledge)
          </li>
          <li>Telephone or face to face conversations with you</li>
          <li>Local groups you may start or join</li>
          <li>Communication on social media</li>
          <li>
            Publicly available sources, like Companies House or the Charity
            Commission website.
          </li>
        </ul>
      </div>

      <div>
        <h2>Why couldn't I take the pledge online?</h2>
        <p>
          As 100 Million is a worldwide campaign, we only ask for the data for
          which we have legal permission to collect. At present, 100 Million
          does not collect data online for anyone below the age of 13 – we’re
          sorry!
        </p>
        <p>
          Some countries have very clear laws about what can be collected, and
          from whom. For example, some countries do not allow us to collect data
          from you if you are under the age of 16. If you live in a country
          where this is the law, then at present you will not be able to give us
          your data. As and when these ages change due to changes in the law, we
          will update the pledge form to be accessible to you.
        </p>
        <p>
          However, you can ask your parent, teacher or guardian to take the
          pledge, and they can receive campaign information on your behalf.
        </p>
      </div>

      <div>
        <h2>How do we use personal information?</h2>

        <p>
          Your personal data helps us to ensure your interaction with the 100
          Million campaign is empowering and well-supported. Examples of how we
          use your information include:
        </p>
        <ul>
          <li>
            Providing you with tools and information to help you as an active
            campaigner
          </li>
          <li>
            Updating you on our work and the work of other activists as part of
            the campaign worldwide
          </li>
          <li>
            Updating you on our policies, procedures, and legal obligations to
            you
          </li>
          <li>Personalisation of content or your experience online</li>
          <li>Carrying out polls and surveys</li>
          <li>Keeping a record of your relationship with the campaign</li>
          <li>
            Improving our services to you and developing the work of the
            campaign
          </li>
          <li>Investigating complaints or other issues.</li>
        </ul>
      </div>

      <div>
        <h2>What legal basis do we have for using your personal data?</h2>
        <p>
          100 Million needs a legal basis for using your personal data, under
          data protection laws which apply in different countries. 100 Million
          asks for your consent to use your data (for example, to allow us to
          send you campaign resources and news).
        </p>
      </div>

      <div>
        <h2>Can I withdraw my consent?</h2>

        <p>
          Yes you can – and you can withdraw consent, unsubscribe from our
          mailing list, change your preferences for receiving our emails, change
          your personal details, or request to transfer your details whenever
          you like.
        </p>
        <p>
          You can do this either by getting in touch with our Data Compliance
          Officer (dco@100million.org) or, if you just wish to unsubscribe from
          emails, clicking the link which is at the bottom of every message we
          send.
        </p>
        <p>
          If you are a citizen of the European Union, European Economic Area, or
          of the State of California, you can also request your right to be
          forgotten: this means your data will be deleted.
        </p>

        <p>
          We will update your records as quickly as possible but it may take up
          to 45 days for our systems to update and stop messages being sent to
          you.
        </p>
      </div>

      <div>
        <h2>When do we share personal data?</h2>
        <p>
          We do not share or sell any personal information to third-party
          organisations for marketing or fundraising purposes.
        </p>
        <p>&nbsp;</p>
        <p>
          We share your personal information with two different types of
          organisation:
        </p>
        <ol>
          <li>
            <p>
              Our data processors: these are the organisations which provide the
              software for us to safely and securely store and manage your data,
              and to communicate with you.
            </p>
          </li>
          <li>
            <p>
              100 Million campaign groups, which are based in your country.
              These campaign groups will be registered with the campaign, and
              are comprised solely of non-profit entities.
            </p>
          </li>
        </ol>
        <p>
          We share with the data processors so we can administer your
          relationship with 100 Million. The data processor cannot share or use
          your data for any other purpose, and we will always have contracts in
          place with any data processing company we work with.
        </p>
        <p>
          We share with 100 Million campaign groups which are based in your
          country so that you can get involved in the campaigns and activities
          which are most relevant to you. These groups cannot share or use your
          data for any other purpose, and the 100 Million global team will
          provide safe and secure ways for them to communicate with you.
        </p>
        <p>Where do we store and process personal data?</p>
        <p>
          As 100 Million is a global campaign, it is possible that your data
          will be stored and processed outside of your home country.
        </p>
        <p>
          Data is stored in the host country for the global 100 Million team. At
          present, this is the United Kingdom. This means your data is protected
          under the law of the United Kingdom and is compliant with the European
          General Data Protection Regulation (GDPR).
        </p>
        <p>
          For citizens of the United States, data is processed in the United
          Kingdom in accordance with the GDPR, and in the United States in
          accordance with US CAN SPAM Act of 2003 and the US Communications
          Decency Act. Even though our charitable status means we cannot
          formally join, we also adhere to the principles contained within the
          Privacy Shield Framework.
        </p>
        <p>
          For all other citizens, data is processed in the United Kingdom. If
          there are 100 Million campaign groups present in your country, your
          data may also be processed there by registered groups which have
          signed a formal agreement on the use of data, based on the GDPR.
        </p>
        <h2>How do we secure personal data?</h2>
        <p>
          100 Million uses technical and organisational tools and processes to
          protect your data and prevent the loss, misuse or alteration of your
          personal information.
        </p>
        <p>
          Unfortunately the transmission of data over the internet is not 100%
          secure. We do our best to protect your personal data, but we cannot
          guarantee the security of your data when it is transmitted to our
          website. However, once we receive your information, we use strict
          procedures and security features to prevent unauthorised access.
        </p>
        <h2>How long do we keep your personal data for?</h2>
        <p>
          100 Million keeps your personal data for as long as necessary to
          fulfil the purposes we collected it for, including for the purposes of
          satisfying any legal or reporting requirements.
        </p>
        <p>
          We decide how long is appropriate to keep personal data. We do this by
          considering the amount, nature and sensitivity of the personal data;
          the potential risk of harm from unauthorised use or disclosure of your
          personal data; the purposes for which we process your personal data,
          whether we can achieve those purposes through other means, and the
          legal requirements.
        </p>
        <p>
          If you ask to receive no further contact from us, we will keep some
          basic information about you on our suppression list to avoid
          sending&nbsp;you more unwanted messages.
        </p>
        <p>
          If you are a citizen of the European Union, European Economic Area, or
          of the State of California, and you request your right to be
          forgotten, your data will be deleted.
        </p>
        <h2>Use of automated decision-making and profiling</h2>
        <p>
          100 Million uses limited profiling and automated decision-making based
          on your interactions with the campaign.
        </p>
        <p>
          Firstly, we organise data based on which type of campaigner you are:
        </p>
        <ul>
          <li>
            <p>Activists: 13-25 year olds who have taken the pledge.</p>
          </li>
          <li>
            <p>Supporters: 26+ year olds who have taken the pledge.</p>
          </li>
        </ul>
        <p><br /></p>
        <p>
          These two groups receive different types of communications from us.
        </p>
        <p>We also organise you based on your country and language:</p>
        <ul>
          <li>
            <p>
              100 Million operates in as many languages as possible, and we use
              the data you provide about your preferred language to send you
              appropriate communications.
            </p>
          </li>
          <li>
            <p>
              100 Million also operates campaigns within different countries,
              not just at the global level, and so we use your country and zip
              code to find out if there is a national or local level campaign
              group you might be interested in.
            </p>
          </li>
        </ul>
        <p>
          Finally, if you choose to take action, get involved in any campaigns,
          or set up a group, we will record this information and personalise
          content and communications to improve our support for your involvement
          with the campaign.
        </p>
        <p>How can I contact you?</p>
        <p>You can get in touch with us in the following ways:</p>
        <p>
          For data questions and requests: <a
            href="mailto:dco@100million.org"
            target="_self">dco@100million.org</a
          >
        </p>
        <p>
          For campaign questions: <a
            href="mailto:campaign@100million.org"
            target="_self">campaign@100million.org</a
          >
        </p>
        <h2>Use of cookies</h2>
        <p>
          Cookies are small text files placed on your computer by websites that
          you visit. They are widely used to make websites work more efficiently
          for visitors, and to provide information to the owners of the site.
        </p>
        <p>
          Using cookies is a very common practice and helps us to give you the
          best experience possible on our website. Cookies are harmless and
          cannot be used to run programmes or deliver viruses to your computer.
        </p>
        <p>We use cookies to:</p>
        <ul>
          <li>
            <p>
              Remember certain information about users so they don&rsquo;t have
              to give the same information again
            </p>
          </li>
          <li>
            <p>
              Measure how people use our websites so we can improve the way
              information is provided
            </p>
          </li>
          <li>
            <p>
              From time to time, display adverts based on what parts of the 100
              Million website you have visited
            </p>
          </li>
        </ul>
        <p>
          You agree to our use of cookies by continuing to use our websites.
        </p>
        <h2>And finally, our disclaimer</h2>
        <p>
          Unfortunately, we cannot be responsible for any information you give
          in any public community areas of the 100 Million website, or on
          websites that we link to from our platforms. This information can be
          viewed or collected by any third party &ndash; but you should always
          be wary of publishing any personal information in public community
          areas.
        </p>
        <p>
          You should also read the privacy notices of any other websites that we
          link to from our site which you visit. This is so you can understand
          what information is collected from you and for what purpose. 100
          Million cannot be held responsible for the policies of any third party
          website that we link to, and you access these websites at your own
          risk.
        </p>
      </div>
    </div>
  </section>
</Layout>
