---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  seo={{
    title: "Terms and Conditions | 100 Million US",
    description: "The terms and conditions for the 100 Million US website",
  }}
>
  <section class="bg-black py-10 px-[2.5%]">
    <div class="mx-auto prose prose-invert">
      <h1>Terms and Conditions</h1>
      <p>Last updated: July 13, 2023</p>
      <h2>Who are we?</h2>
      <p>
        We are the 100 Million campaign, and when it comes to your data we are
        officially called the &lsquo;Data Controller&rsquo;. We operate
        worldwide, with offices and team members in India, the United States,
        and the United Kingdom. In the United Kingdom and the United States the
        campaign is housed by the Kailash Satyarthi Children&rsquo;s Foundation
        of America (KSCF-US), which is a registered non-profit organisation in
        the United States, and in the UK with registration number
        BR019642.&nbsp;
      </p>
      <p>In the United States, our registered address is:</p>
      <p>1527 New Hampshire Avenue NW Washington DC 20036, United States</p>

      <p>
        The term &lsquo;100 Million&rsquo;, &lsquo;KSCF-US&rsquo; or
        &lsquo;us&rsquo; or &lsquo;we&rsquo; refers to the owner of the website;
        the term &lsquo;you&rsquo; refers to the user or viewer of our website.
      </p>
      <p>
        Your use of this website and any dispute arising out of such use of the
        website is subject to the laws of England, Northern Ireland, Scotland
        and&nbsp;Wales.
      </p>
      <h2>Our terms of use</h2>
      <p>
        If you continue to browse and use this website, you are agreeing to
        comply with and be bound by the following terms and conditions of use,
        which together with our privacy policy govern the 100 Million
        campaign&rsquo;s relationship with you in relation to this website. If
        you disagree with any part of these terms and conditions, please do not
        use our website.
      </p>
      <p>The use of this website is subject to the following terms of use.</p>
      <h2>Content and its permitted use</h2>
      <ul>
        <li>
          <p>
            The content of the pages of this website is for your general
            information and use only. It is subject to change without notice.
          </p>
        </li>
        <li>
          <p>
            Neither we nor any third parties provide any warranty or guarantee
            as to the accuracy, timeliness, performance, completeness or
            suitability of the information and materials found or offered on
            this website for any particular purpose. You acknowledge that such
            information and materials may contain inaccuracies or errors and we
            expressly exclude liability for any such inaccuracies or errors to
            the fullest extent permitted by law.
          </p>
        </li>
        <li>
          <p>
            Your use of any information or materials on this website is entirely
            at your own risk, for which we shall not be liable. It shall be your
            own responsibility to ensure that any products, services or
            information available through this website meet your specific
            requirements.
          </p>
        </li>
        <li>
          <p>
            We are the owner or the licensee of all intellectual property rights
            on our website, and in the material published on it. Those works are
            protected by copyright laws and treaties around the world. All such
            rights are reserved. This material includes, but is not limited to,
            the design, layout, look, appearance and graphics.
          </p>
        </li>
        <li>
          <p>
            Under no circumstances may you use graphics, trademarks, logos,
            designs, images or photographs from the website except with our
            prior written consent. Please send your written requests to use such
            content to <a href="mailto:dco@100million.org" target="_self"
              >dco@100million.org</a
            >
          </p>
        </li>
        <li>
          <p>
            All trademarks reproduced in this website, which are not the
            property of, or licensed to the operator, are acknowledged on the
            website.
          </p>
        </li>
        <li>
          <p>
            Unauthorised use of this website may give rise to a claim for
            damages and/or be a criminal offence.
          </p>
        </li>
      </ul>
      <h2>Use of cookies</h2>
      <ul>
        <li>
          <p>
            We place cookies on your device to help make this website and your
            experience on it better. Some of these cookies are essential for the
            site to work, and some are non-essential to help us collect
            information for reporting about and improving the site.
          </p>
        </li>
        <li>
          <p>Cookies are collected anonymously.</p>
        </li>
        <li>
          <p>This website uses cookies to:</p>
          <ul>
            <li>
              <p>monitor browsing preferences</p>
            </li>
            <li>
              <p>make website features work</p>
            </li>
            <li>
              <p>
                analyse how you&rsquo;re using the website so we can make it
                even better and relevant to you
              </p>
            </li>
            <li>
              <p>
                count the number of visitors and see how visitors move around
                the websites to improve the way the websites work
              </p>
            </li>
            <li>
              <p>help us advertise to you on other websites, like Facebook.</p>
            </li>
          </ul>
        </li>
        <li>
          <p>Cookies can be disabled within your own browser settings.</p>
        </li>
      </ul>
      <h2>Registration and creating profiles</h2>
      <ul>
        <li>
          <p>
            For some areas of the site, you may have to complete a registration
            process or create a profile for use in applying for something (e.g.
            a job, or to provide information about your campaign work to us).
          </p>
        </li>
        <li>
          <p>
            Completion of this process will usually require creation of an
            account with a username and password or other identifier.
          </p>
        </li>
        <li>
          <p>
            We will protect your privacy to the best of our ability, as stated
            in detail in our privacy policy, but you also agree to guard this as
            confidential information &ndash; which should be done carefully, as
            others may be able to access the information.
          </p>
        </li>
        <li>
          <p>
            You agree to provide accurate, current and complete information at
            all times. You also agree that you will review, maintain, correct,
            and update such information in a timely manner to ensure its
            accuracy and completeness by using the means allowed for the
            relevant information or, when appropriate, by contacting us. If you
            provide (or we have reasonable grounds to believe that you provided)
            any information that is inaccurate, not current, or incomplete for
            the purposes intended, we may suspend or terminate your access,
            application, or participation, in addition to exercising all rights
            and remedies allowed by law.
          </p>
        </li>
        <li>
          <p>
            You agree that all uses of the identifier established for you during
            a registration or similar process will be attributed to and legally
            bind you, and may be relied upon by us and third parties with whom
            we work as being a use made by you, even if someone else used your
            identifier. This is to ensure we can protect you and the site from
            fraudulent profiles and usage.
          </p>
        </li>
      </ul>
      <h2>User-generated content and site activities</h2>
      <ul>
        <li>
          <p>
            Sometimes you may wish to provide content, by uploading a video or
            information, or submitting comments in a public forum. When you
            provide content, you:
          </p>
          <ul>
            <li>
              <p>Represent and warrant that the content is:</p>
            </li>
          </ul>
        </li>
      </ul>
      <p>(a) wholly your original work, or</p>
      <p>
        (b) that you have all necessary rights, title, interest and licenses to
        upload it and make it available to us and other users for download,
        distribution and use under these terms without (i) violation (by you,
        us, Third Parties, users or anyone else) of any applicable license,
        restriction or law, or (ii) a potentially adverse consequence to us,
        Third Parties, users or anyone else that you have not conspicuously
        disclosed in the content. As used here, &ldquo;adverse
        consequence,&rdquo; means a restriction governing the content which
        could be triggered if we or others exercise a right under the license
        you grant below and which imposes an obligation, liability or impairment
        of rights on us or others that was not conspicuously disclosed by you
        before exercise of a right.
      </p>
      <ul>
        <li>
          <p>
            To disclose an adverse action, you agree to conspicuously place on
            or in the content notice that adverse actions can result and that
            you may be contacted at the email address in the notice to obtain
            your full disclosure of applicable licenses and restrictions
            applicable to the content.
          </p>
        </li>
        <li>
          <p>
            Grant us, our Third Parties, and each site user who downloads the
            content under these Terms, a perpetual, nonexclusive, worldwide,
            royalty-free, fully paid up, irrevocable license to (i) use, copy,
            distribute, modify and create derivative works from the content;
            (ii) publicly perform or display, license and distribute copies of
            the content, modified content and derivative works of the content to
            allow us or other licensed person to fulfil its charitable or
            governmental mission, to further its related operations, and to
            create, advertise, operate and manage the site.
          </p>
        </li>
      </ul>
      <ul>
        <li>
          <p>
            In addition to the rights above, you acknowledge and agree that we
            may keep content indefinitely and disclose it for any purpose,
            including but not limited to:
          </p>
        </li>
      </ul>
      <p>(a) comply with legal process;</p>
      <p>(b) enforce these Terms</p>
      <p>
        (c) respond to claims that any content violates the rights of
        third-parties
      </p>
      <p>
        or (d) without undertaking a duty to do so, protect the rights,
        property, or personal safety of 100 Million, KSCF-US, its users and the
        public.
      </p>
      <ul>
        <li>
          <p>
            You agree not to upload, post or otherwise transmit through the Site
            any Content or any other materials whatsoever that are or could
            appear to:
          </p>
          <ul>
            <li>
              <p>
                Be defamatory, obscene, invasive to another person&rsquo;s
                privacy or protected data, or tortious;
              </p>
            </li>
            <li>
              <p>
                Be infringing upon anyone&rsquo;s intellectual property rights,
                including any patent, trademark, trade secret, copyright, or
                right of publicity;
              </p>
            </li>
            <li>
              <p>
                Contain any software viruses or any other harmful computer code,
                files, or programs, including any designed to interrupt,
                destroy, or limit the functionality of any computer software or
                hardware or telecommunications equipment; and
              </p>
            </li>
            <li>
              <p>
                In violation of any applicable license, law or contractual or
                fiduciary duty or provision (including by exercise of the rights
                you grant to the Foundation above).
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            Any opinions, advice, statements, assistance, services, offers, or
            information expressed or made available by third parties, including
            users, are those of the respective author(s) or distributor(s) and
            not of 100 Million or KSCF-US.
          </p>
        </li>
      </ul>
      <h2>Links to/from third parties</h2>
      <ul>
        <li>
          <p>
            From time to time, this website may also include links to other
            websites. These links are provided for your convenience to provide
            further information. They do not signify that we endorse the
            website(s). We have no responsibility for the content of the linked
            website(s).
          </p>
        </li>
        <li>
          <p>
            You may link to our website, provided you do so in a way that is
            fair and legal and does not damage our reputation or take advantage
            of it.
          </p>
        </li>
        <li>
          <p>
            You must not create a link to our website in such a way that it
            suggests any form of association, approval or endorsement on our
            part without prior written consent.
          </p>
        </li>
      </ul>
    </div>
  </section>
</Layout>
