---
const involveLinks = [
  { link: "/teachers", text: "Teachers" },
  { link: "/individuals", text: "Individuals" },
  { link: "/organizations", text: "Organizations" },
];

const resourceLinks = [
  { link: "/about-us", text: "About Us" },
  { link: "/articles", text: "Articles" },
  { link: "/resources", text: "Resources" },
];
---

<section class="text-text-light">
  <footer></footer>
  <div class="bg-primary-darker py-4">
    <p class="font-bebas text-xl text-center">
      Copyright © 2022 100 Million Us | All Right Reserved | Powered By <a
        href="https://www.simply-sprout.com">Simply Sprout</a
      >
    </p>
  </div>
</section>
