---
import CardCarousel from "@components/cards/CardCarousel.astro";

const cards = [
  {
    img: {
      src: import("@img/join-the-fight-teachers.jpg"),
      alt: "teachers join 100 million us",
    },

    title: "Placeholder",
    text: "This is just placeholder text. Don’t be alarmed, this is just here to fill up space since your finalized copy isn’t ready yet. ",
    link: {
      text: "Get Involved",
      to: "/teachers",
    },
  },
  {
    img: {
      src: import("@img/join-the-fight-individuals.jpg"),
      alt: "individuals join 100 million us",
    },

    title: "Placeholder",
    text: "This is just placeholder text. Don’t be alarmed, this is just here to fill up space since your finalized copy isn’t ready yet. ",
    link: {
      text: "Get Involved",
      to: "/individuals",
    },
  },
  {
    img: {
      src: import("@img/join-the-fight-organizations.jpg"),
      alt: "organizations join 100 million us",
    },

    title: "Placeholder",
    text: "This is just placeholder text. Don’t be alarmed, this is just here to fill up space since your finalized copy isn’t ready yet. ",
    link: {
      text: "Get Involved",
      to: "/organizations",
    },
  },
];
---

<section class="bg-primary px-edge py-36">
  <div class="max-w-screen-2xl mx-auto">
    <h2
      class="font-bebas text-text-light text-[100px] text-center leading-none"
    >
      Featured <br /><span class="text-text-dark text-[130px]">Resources</span>
    </h2>
    <div>
      <CardCarousel label="featured resources carousel" cards={cards} />
    </div>
  </div>
</section>
