---
import CardCarousel from "@components/cards/CardCarousel.astro";
import { getFeaturedResources } from "src/utils/api/resources";

export interface Props {
  targetAudience?: "general" | "teachers" | "individuals" | "organizations";
}

const { targetAudience = "general" } = Astro.props;
const resources = await getFeaturedResources(targetAudience);
---

<section class="bg-primary px-edge py-16 lg:py-36">
  <div class="max-w-screen-2xl mx-auto">
    <h2
      class="font-bebas text-text-light text-7xl md:text-[100px] text-center leading-none"
    >
      Featured <br /><span class="text-text-dark text-8xl md:text-[130px]"
        >Resources</span
      >
    </h2>
    <div>
      <CardCarousel
        label="featured resources carousel"
        cards={resources}
        type="resource"
      />
    </div>
  </div>
</section>
