---
const goals = [
  "Every child is free, safe, and educated",
  "Child marriage is ILLEGAL in all 50 states",
  "Children have safe and consistent access to education",
  "The US takes accountability for the child labor in its supply chains",
];
---

<section class="bg-black px-edge py-16 lg:py-36">
  <div class="max-w-screen-2xl mx-auto">
    <div class="font-bebas text-text-light text-center leading-none">
      <h6 class="text-6xl md:text-[130px]">
        We <span class="text-primary">Won't Stop</span> Until
      </h6>
    </div>
    <div class="mt-12 flex justify-center gap-14">
      {
        goals.map((goal) => (
          <div class="max-w-[300px]">
            <div class="text-text-light text-center">
              <p class="mt-11 font-bebas text-text-light text-2xl">{goal}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
