<section class="bg-black px-edge py-36">
  <div class="max-w-screen-2xl mx-auto">
    <div class="font-bebas text-text-light text-center leading-none">
      <h2 class="text-[100px]">What We Do</h2>
      <h6 class="text-[130px]">
        We <span class="text-primary">Won't Stop</span> Until
      </h6>
    </div>
    <div class="mt-12 flex justify-center gap-14">
      {
        [...Array(4).keys()].map((num) => (
          <div>
            <div class="w-32 h-20 bg-gray-400 mx-auto" />
            <div class="text-text-light text-center">
              <p class="mt-11 font-bebas text-text-light text-5xl">
                Goal #{num + 1}
              </p>
              <p>
                This is just placeholder text. Don’t be alarmed, this is just
                here to fill up space
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
