---
import { Image } from "@astrojs/image/components";
import PrimaryBtn from "@components/buttons/PrimaryBtn";
---

<section
  class="bg-primary overflow-y-hidden grid grid-cols-1 lg:block relative"
>
  <Image
    src={import("@img/home-hero.jpg")}
    alt="hundred million us"
    class="h-full max-h-[500px] lg:max-h-full object-cover lg:absolute top-0 right-0 bottom-0 lg:max-w-[50%] w-full"
    quality={90}
  />
  <div class="max-w-screen-2xl mx-auto px-edge 2xl:px-0">
    <div
      class="my-10 lg:my-20 max-w-3xl text-center lg:text-left lg:max-w-xl text-white relative z-10"
    >
      <h1 class="font-bebas text-5xl xs:text-7xl lg:text-[110px] leading-none">
        Free, Safe, Educated
      </h1>
      <p class="leading-loose">
        Change is possible. It is time to work together and demand it.
      </p>
      <PrimaryBtn className="mt-5" to="/join-us">Join Us</PrimaryBtn>
    </div>
  </div>
</section>
