---
import { Image } from "@astrojs/image/components";
import PrimaryBtn from "@components/buttons/PrimaryBtn";
---

<section class="bg-primary overflow-y-hidden">
  <div class="max-w-screen-2xl">
    <div class="text-white max-w-xl pl-edge pr-14">
      <h1 class="font-bebas text-[110px] leading-none">
        Free, Safe, <br /><span class="text-[210px]">Educated</span>
      </h1>
      <p>
        This is just placeholder text. Don’t be alarmed, this is just here to
        fill up space since your finalized copy isn’t ready yet. Once we have
        your content finalized
      </p>
      <PrimaryBtn>Join Us</PrimaryBtn>
    </div>
  </div>
</section>
