---
import { Image } from "@astrojs/image/components";

export interface Props {
  image: string;
  reversed?: boolean;
  bottomBanner?: boolean;
}

const { image, bottomBanner = true, reversed = false } = Astro.props;
---

<section class="px-edge pt-16 lg:pt-36 bg-black relative">
  <div
    class="max-w-screen-2xl mx-auto flex flex-col lg:flex-row justify-between gap-10 2xl:gap-40 relative z-10"
  >
    <div
      class={(reversed ? "order-2" : "order-2 lg:order-first") +
        "  lg:min-h-[1080px] lg:min-w-[500px]"}
    >
      <Image
        src={image}
        alt="current campaign"
        class="w-full h-full object-cover grayscale"
      />
    </div>
    <div class="2xl:mt-20 max-w-2xl mx-auto">
      <slot />
    </div>
  </div>
  {
    bottomBanner && (
      <div class="absolute bottom-0 left-0 right-0 w-full h-36 bg-primary" />
    )
  }
</section>
