---
import { Image } from "@astrojs/image/components";

export interface Props {
  reversed?: boolean;
  bottomBanner?: boolean;
}

const { bottomBanner = true, reversed = false } = Astro.props;
---

<section class="px-edge pt-36 bg-black relative">
  <div
    class={(reversed ? "flex-row-reverse" : "") +
      " max-w-screen-2xl mx-auto flex justify-between gap-40 relative z-10"}
  >
    <div>
      <div class="w-[690px] h-[1080px] bg-gray-400"></div>
    </div>
    <div class="mt-20">
      <slot />
    </div>
  </div>
  {
    bottomBanner && (
      <div class="absolute bottom-0 left-0 right-0 w-full h-36 bg-primary" />
    )
  }
</section>
