---
import { Icon } from "astro-icon";
const impacts = [
  { text: "Visited Classrooms", icon: "mdi:learn-outline" },
  { text: "Held In Person Events", icon: "ic:baseline-people" },
  {
    text: "Supported Global Campaigns",
    icon: "ph:globe-hemisphere-east",
  },
  {
    text: "Engaged Decision Makers",
    icon: "mdi:court-hammer",
  },
];
---

<section class="bg-primary px-edge py-16 lg:py-20">
  <div class="max-w-screen-2xl mx-auto">
    <div class="font-bebas text-center text-text-light leading-none">
      <h6 class="text-6xl md:text-[130px]">
        In The <span class="text-text-dark">Past 3 Years</span> We Have...
      </h6>
    </div>
    <div class="mt-12 flex justify-center gap-10">
      {
        impacts.map((impact) => (
          <div>
            <Icon
              name={impact.icon}
              class="text-text-light mx-auto"
              size={40}
            />
            <p class="mt-11 text-center font-bebas text-text-light text-5xl">
              {impact.text}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
