---
import CardCarosel from "@components/cards/CardCarousel.astro";

const cards = [
  {
    img: {
      src: import("@img/join-the-fight-teachers.jpg"),
      alt: "teachers join 100 million us",
    },

    title: "Teachers",
    text: "Are you interested in a 100 Million representative coming to present in your classroom? Do you want to learn more about our lesson plans and curriculum development? Get Involved.",
    link: {
      text: "Get Involved",
      to: "/contact/",
    },
  },
  {
    img: {
      src: import("@img/join-the-fight-individuals.jpg"),
      alt: "individuals join 100 million us",
    },

    title: "Individuals",
    text: "100 Million US is a community created BY and FOR youth activists who are passionate about the rights of the world’s most marginalized children. Want to find out how you can get involved on your campus or in your community? Get Involved.",
    link: {
      text: "Get Involved",
      to: "/contact/",
    },
  },
  {
    img: {
      src: import("@img/join-the-fight-organizations.jpg"),
      alt: "organizations join 100 million us",
    },

    title: "Organizations",
    text: "Are you a campus or community organization in the United States which advocates for children to be free, safe, or educated? Let’s work together! Get Involved.",
    link: {
      text: "Get Involved",
      to: "/contact/",
    },
  },
];
---

<section class="bg-primary px-edge py-16 lg:py-36">
  <div class="max-w-screen-2xl mx-auto">
    <div class="max-w-6xl mx-auto text-text-light text-center">
      <h2
        class="font-bebas text-8xl sm:text-[130px] text-text-light leading-none"
      >
        Join The <span class="text-text-dark">Fight</span>
      </h2>
      <p class="text-lg">
        There are many ways to get involved with 100 Million. If you are someone
        passionate about children’s rights and ensuring that ALL young people
        are free, safe, and educated, join us.
      </p>
    </div>
    <div class="mt-10">
      <CardCarosel label="join the fight carosel" cards={cards} />
    </div>
  </div>
</section>
