---
import CardCarosel from "@components/cards/CardCarousel.astro";

const cards = [
  {
    img: {
      src: import("@img/join-the-fight-teachers.jpg"),
      alt: "teachers join 100 million us",
    },

    title: "Teachers",
    text: "This is just placeholder text. Don’t be alarmed, this is just here to fill up space since your finalized copy isn’t ready yet. ",
    link: {
      text: "Get Involved",
      to: "/teachers",
    },
  },
  {
    img: {
      src: import("@img/join-the-fight-individuals.jpg"),
      alt: "individuals join 100 million us",
    },

    title: "Individuals",
    text: "This is just placeholder text. Don’t be alarmed, this is just here to fill up space since your finalized copy isn’t ready yet. ",
    link: {
      text: "Get Involved",
      to: "/individuals",
    },
  },
  {
    img: {
      src: import("@img/join-the-fight-organizations.jpg"),
      alt: "organizations join 100 million us",
    },

    title: "Organizations",
    text: "This is just placeholder text. Don’t be alarmed, this is just here to fill up space since your finalized copy isn’t ready yet. ",
    link: {
      text: "Get Involved",
      to: "/organizations",
    },
  },
];
---

<section class="bg-primary px-edge py-16 lg:py-36">
  <div class="max-w-screen-2xl mx-auto">
    <div class="max-w-6xl mx-auto text-text-light text-center">
      <h2
        class="font-bebas text-8xl sm:text-[130px] text-text-light leading-none"
      >
        Join The <span class="text-text-dark">Fight</span>
      </h2>
      <p class="text-lg">
        This is just placeholder text. Don’t be alarmed, this is just here to
        fill up space since your finalized copy isn’t ready yet. Once we have
        your content finalized, we’ll replace this placeholder text with your
        real content.
      </p>
    </div>
    <div class="mt-10">
      <CardCarosel label="join the fight carosel" cards={cards} />
    </div>
  </div>
</section>
