---
import PrimaryBtn from "@components/buttons/PrimaryBtn";
---

<section class="bg-dark px-edge py-16 lg:py-36">
  <div class="max-w-screen-2xl mx-auto text-center">
    <h2
      class="font-bebas text-text-light text-7xl md:text-[130px] leading-none"
    >
      We Work With <span class="text-primary">Organizations</span>
    </h2>
    <div class="mt-2 lg:mt-5 flex justify-between gap-2">
      {
        [...Array(5).keys()].map((num) => (
          <div class="bg-white p-4">
            <p>logo #{num + 1}</p>
          </div>
        ))
      }
    </div>
    <PrimaryBtn className="mt-10 lg:mt-16" color="primary"
      >View All Organizations</PrimaryBtn
    >
  </div>
</section>
