<section class="bg-black px-edge py-20">
  <div class="max-w-screen-2xl mx-auto text-center">
    <h2 class="font-bebas text-text-light text-[100px] leading-none">
      Explain Why Your Charity Was Founded And <span class="text-[250px]"
        >What Your Provide</span
      >
    </h2>
    <div class="max-w-6xl mx-auto space-y-2 text-text-light text-lg">
      <p>
        This is just placeholder text. Don’t be alarmed, this is just here to
        fill up space since your finalized copy isn’t ready yet. Once we have
        your content finalized, we’ll replace this placeholder text with your
        real content.
      </p>
      <p>
        Sometimes it’s nice to put in text just to get an idea of how text will
        fill in a space on your website. Traditionally our industry has used
        Lorem Ipsum, which is placeholder text written in Latin. Unfortunately,
        not everyone is familiar with Lorem Ipsum and that can lead to
        confusion. I can’t tell you how many times clients have asked me why
        their website is in another language! There are other placeholder text
        alternatives like Hipster Ipsum, Zombie Ipsum, Bacon Ipsum, and many
        more. While often hilarious, these placeholder passages can also lead to
        much of the same confusion.
      </p>
      <p>
        If you’re curious, this is Website Ipsum. It was specifically developed
        for the use on development websites. Other than being less confusing
        than other Ipsum’s, Website Ipsum is also formatted in patterns more
        similar to how real copy is formatted on the web today.
      </p>
    </div>
  </div>
</section>
