---
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<section class="bg-black px-edge py-16 lg:py-20">
  <div
    class="max-w-screen-2xl flex gap-5 flex-col lg:flex-row items-center lg:items-start justify-between mx-auto text-center"
  >
    <div class="text-center lg:text-left max-w-2xl">
      <h2
        class="font-bebas text-text-light text-7xl md:text-[100px] leading-none"
      >
        Our Story
      </h2>
      <div class="mt-5 max-w-6xl mx-auto space-y-2 text-text-light text-lg">
        <p>
          Kailash Satyarthi has been a tireless advocate of children’s rights
          for over three decades. In 2014, he was jointly awarded the Nobel
          Peace Prize for “struggle against the suppression of children and
          young people and for the right of all children to education.”
        </p>
        <p>
          The 100 Million campaign is a youth-led call to action for a world
          where all young people are free, safe and educated. We support young
          people in mobilizing to end violence against children, eradicate child
          labor, and ensure education, breaking the cycles of illiteracy,
          poverty and violence for good.
        </p>
        <p>
          Inspired by the powerful voices of young activists around the world
          who are leading change in their communities, the 100 Million campaign
          was launched in India at the end of 2016, by 6,000 young people,
          standing side by side with Nobel Peace Laureate, and renowned child
          rights activist, Kailash Satyarthi. With support from the <a
            href="https://satyarthi-us.org/"
            target="_blank"
            class="font-bold text-primary"
            >Kailash Satyarthi Children's Foundation</a
          >, the campaign has worked to bring together impassioned young
          activists from every background to mobilize and advocate for the
          rights of the world’s most excluded children.
        </p>
        <p>
          The campaign has established itself in 35 countries on five continents
          by bringing together youth activists with NGOs and teacher unions and
          supporting their mobilization and advocacy activities with campaigning
          materials, policy briefings and face-to-face meetings.
        </p>
      </div>
    </div>

    <YouTube class="w-full max-w-[800px] h-[500px]" id="5C7hRUmvwRk" />
  </div>
</section>
