---
import PrimaryBtn from "@components/buttons/PrimaryBtn";
---

<section class="bg-black py-16 lg:py-36 px-edge">
  <div class="text-white text-center">
    <h2 class="font-bebas text-5xl md:text-7xl">
      Stay Up To Date <br /><span class="text-primary">On Action</span> Across The
      Us
    </h2>
    <p>Quick description about newsletter and why they should sign up.</p>
    <PrimaryBtn className="mt-4" color="primary">Sign Up</PrimaryBtn>
  </div>
</section>
