<section class="bg-black py-16 px-edge">
  <div class="text-white text-center">
    <h2 class="font-bebas text-5xl md:text-7xl">
      Stay Up To Date <br /><span class="text-primary">On Action</span> Across The
      Us
    </h2>
    <p>
      Click to recieve 100 Million Monthly and stay up to date with all things
      100 Mill US. (We promise not to overwhelm your inbox)
    </p>
    <a
      target="_blank"
      href="http://eepurl.com/g5Gkwf"
      class="mt-4 bg-primary inline-block px-16 py-3 rounded-full font-bebas text-2xl text-white cursor-pointer"
      >Sign Up</a
    >
  </div>
</section>
